* {
  margin: 0;
  padding: 0;
  font-family: "PT Serif", serif;
}

body {
  max-width: 800px;
  margin: 30px auto;
  padding: 0 20px;
  background-color: #fffff8;
  font-size: 16px;
  line-height: 22px;
  color: #111111;
}

.vcard {
  font-size: 18px;
  line-height: 24px;
}

.vcard h1 {
  text-align: center;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 22px;
}

.vcard p {
  margin-bottom: 11px;
}

.vcard p:last-child {
  margin-bottom: 0;
}

.poems {
  display: block;
  max-width: 480px;
  margin: 33px auto 0 auto;
  font-size: 18px;
  line-height: 24px;
}

.poems h2 {
  margin-bottom: 22px;
  font-size: 22px;
  line-height: 24px;
  text-align: center;
}

.poems h3 {
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}

.poems pre {
  overflow: auto;
  margin-bottom: 40px;
}

.poems p {
  white-space: pre;
  margin-bottom: 15px;
}

.poems p:last-child {
  margin-bottom: 0px;
}

@media (max-width: 800px) {
  .poems {
    margin: 0;
  }

  .poems p {
    left: 0;
  }
}
